@import "../scss/overrides";

.left-image {
  width: 100%;
}

.right-image {
  width: 100%;
  margin-top: 10vh;
  margin-left: -10vw;
}

.bottom-text {
  max-width: 10rem;
  margin-top: 1rem;
  margin-left: 4rem;
  .p {
    width: 100%;
  }
}

.left-text {
  max-width: 10rem;
  margin-top: 10rem;
  margin-left: -10vw;
  .p {
    width: 100%;
  }
}
