@import "../scss/overrides";

.project-container {
  margin-top: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  background-color: orange;
}

.project-section {
  margin-bottom: 6rem;
}

.project-image {
  width: 100%;
}
