@import "../scss/overrides";

.top-container {
  margin: 5rem 0;
  .project-top {
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
}

.middle-container {
  margin: 5rem 0;
}

.bottom-container {
  margin: 5rem 0;
}

.project-color {
  height: 15px;
  margin: 8% 1%;
}
