@import "../scss/overrides";

.container {
  padding-right: 0;
  padding-top: 0;
}

.project-container {
  z-index: -1;
  padding-top: 4rem;
  margin-bottom: -1rem;
}

.project-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.project-image {
  width: 100%;
}

.down-arrow {
  position: relative;
  z-index: 1;
  margin-top: 6rem;
  bottom: 0;
}
