@import "../scss/overrides";

.image {
  width: 100%;
}

.main-container {
  padding: 10rem 0 0 0;
  height: 60rem;
}

.subtitle {
  color: #ff6668;
  img {
    height: 25px;
  }
}

.subtext {
  min-height: 100px;
  vertical-align: top;
}

.heading {
  padding: 2rem 0;
  color: #4036ed;
  text-align: center;
}
