@import "../scss/overrides";

.image {
  width: 100%;
}

.main-container {
  padding-top: 10rem;
  height: 50rem;
}

.subtitle {
  color: #9596ff;
}

.subtext {
  min-height: 100px;
  vertical-align: top;
}

.heading {
  padding: 2rem 0;
  color: #4036ed;
  text-align: center;
}
