// Colours
$primary: #4c446c;

// Fonts
$headings-font-family: NovaFlat, Helvetica;
$body-font-family: OpenSans, Helvetica;

$font-size-base: 0.625rem;
$h1-font-size: 3.2rem;
$h2-font-size: 2.4rem;
$h3-font-size: 1.8rem;
$h4-font-size: 1.2rem;

$body-color: #000;

// Link
$link-decoration: none;

//Nav
// $nav-link-hover-color: #be0c87;
// $nav-tabs-link-active-color: #be0c87;
// $nav-link-font-size: 0.8rem;
// $nav-link-color: #be0c87;

// Card
$card-bg: rgba(0, 0, 0, 0);
$card-spacer-y: 5rem;
$card-border-width: 0;
