// Header fonts
// @font-face {
//   font-family: DM-Serif-Display;
//   src: url(../fonts/dm-serif-display-regular.woff2),
//     url(../fonts/dm-serif-display-regular.woff);
//   font-style: normal;
//   font-weight: 600;
// }

//Body fonts
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.woff2), url(../fonts/Roboto-Light.woff);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: NovaFlat;
  src: url(../fonts/nova-flat-regular.woff2),
    url(../fonts/nova-flat-regular.woff);
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #fafafa;
}

//Fonts
p {
  font-size: $font-size-base * 1.6;
}

.header {
  margin-top: 2rem;
  padding-right: 6rem;
}

.footer {
  margin-bottom: 1rem;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

// Card
.card {
  border: none;
  background-color: rgba(255, 255, 255, 0.9%);
}

// Buttons
.arrow {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
