// Header fonts
@font-face {
  font-family: DM-Serif-Display;
  src: url(../fonts/dm-serif-display-regular.woff2),
    url(../fonts/dm-serif-display-regular.woff);
  font-style: normal;
  font-weight: 600;
}

//Body fonts
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.woff2), url(../fonts/Roboto-Light.woff);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff2), url(../fonts/Roboto-Regular.woff);
  font-style: normal;
  font-weight: 400;
}

body {
  background: linear-gradient(135deg, #e66465 10%, #9198e5);
}

//Fonts
p {
  font-size: $font-size-base * 1.6;
}

// Card
.card {
  border: none;
  background-color: rgba(255, 255, 255, 0.9%);
}

// Footer
.end-nav {
  border-left: 1px #000;
}

// Buttons
.arrow {
  background-color: rgba(255, 255, 255, 0.9%);
  border: none;
}
