//Font imports
@font-face {
  font-family: OpenSans;
  src: url(../fonts/open-sans.woff2), url(../fonts/open-sans.woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open-sans-700.woff2), url(../fonts/open-sans-700.woff);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: NovaFlat;
  src: url(../fonts/nova-flat-regular.woff2),
    url(../fonts/nova-flat-regular.woff);
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #fafafa;
}

p {
  font-size: $font-size-base * 1.6;
}

.logo-gif {
  display: flex;
  flex-direction: row-reverse;
}
.gif {
  text-align: right;
  margin-top: 1rem;
  padding-right: 6rem;
  img {
    width: 100px;
  }
}

.logo-rotate {
  transform: rotate(90deg);
  display: flex;
  justify-content: start;
}

.footer {
  margin-bottom: 1rem;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

// Card
.card {
  border: none;
  background-color: rgba(255, 255, 255, 0.9%);
}

// Buttons
.arrow {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.container {
  padding-right: 0;
}

// Projects page
.project-container {
  .project-text-container {
    padding: 20% 0;
  }
  iframe {
    height: 760px;
    width: 1140px;
  }
}
